<div class="jumbotron">
    <div class="container btn-info">
        <h3 style="margin-bottom: 30px">Angelique 3D app</h3>
        <button onclick="random()" class="btn btn-danger">start</button>
        <br />
        <div id="result"></div>
    </div>
</div>
@section Scripts {
    <script>
        function random() {
            fetch('https://localhost:44385/Home/GetRandom')
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    console.log(JSON.stringify(myJson));
                    document.getElementById("result").innerText = myJson.random;
                });
        }
    </script>
}